{
    "WEBHOOK_URL": [
        {
            "name": "optional",
            "url": "Your Webhook URL"
        }
    ],
    "CITY": "Your City",
    "AREA": "Your Area",
    "ACCESS_TOKEN": [
        {
            "name": "optional",
            "token": "Your Access Token"
        }
    ]
}