{
    "WEBHOOK_URL": [
        {
            "name": "optional",
            "threshold": 5+,
            "url": "Your Webhook URL"
        },
        {
            "name": "optional",
            "threshold": 5-,
            "url": "Your Webhook URL"
        }
    ],
    "CITY": "Your City",
    "AREA": "Your Area",
    "ACCESS_TOKEN": [
        {
            "name": "optional",
            "threshold": 1,
            "token": "Your Access Token"
        },
        {
            "name": "optional",
            "threshold": 0,
            "token": "Your Access Token"
        }
    ]
}